name: main

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          pip install poetry
          make install
          make flake8
          make pytest
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CC_TEST_REPORTER_ID: ${{ 34c33637-36b8-49e7-a682-01a53ea2c181 }}
        with:
          coverageCommand: make test-coverage
          debug: true
          # upload coverage to Code Climate
