name: main

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          pip install poetry
          make install
          make flake8
          make pytest
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.bbadf3a9bab4663f37bf2c66ccb99e824ed91a4e0e24f3b42b37f698bfd8fa69 }}
        with:
          coverageCommand: make test-coverage
          debug: true
          # upload coverage to Code Climate
