name: My_tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          pip install poetry
          make poetry run pytest -vv
          make poetry-run-flake8-gendiff
